<mat-card>
    <mat-card-title>Confirmar exclusão do produto ?</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [value]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [value]="product.price" name="price">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteProduct()" color="warn">
        EXCLUIR
    </button>

    <button mat-raised-button (click)="cancel()">
        CANCELAR
    </button>
</mat-card>