.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.title-name {
    font-family: 'Goldman', cursive;
}

.footer>span {
    font-size: 1.1em;
    font-weight: 300;
}