.sidenav {
    font-size: 18px;
    background-color: #191970;
    width: 175px;
}

.sidenav :hover {
    color: greenyellow;
    cursor: pointer;
}

.sidenav a {
    color: #fff;
}

.sidenav i {
    padding-right: 1em;
}

.content {
    padding: 20px;
    background-color: #fff;
}